.search-input-container{
  position:relative;
  height:4rem;
  
  .ap-input-icon {
    display:none;

    svg {
      width: 0;
      height: 0;
    }
  }

  #search-input{
    height:4rem;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }

  #submit-search{
    position: absolute;
    width:4.5rem;
    height: 2.5rem;
    right:2%;
    top:20%;
    border-color: $primary_red;
    background-color:$secondary_red;

    .fas{
      font-size: 1.5rem;
    }
  }
}

.btn-filters{
  width:100%;
  position: relative;
  margin-top: 15px;
  background-color:$secondary_red;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  color: white;
  font-weight: bold;
  
  &.active{
    padding : 30px;
    
  }

  &:hover{
    color:white;
  }

  .btn-filters-title{
    width:100%;
  }

  .btn-filters-close{
    display:none;
    position: absolute;
    top: 5px;
    left:10px;
    font-weight: bold;
    &.active{
      display: block;
    }
  }


  .filters-search{
    display: none;

    &.active{
      display:flex;
      flex-direction: column;
    }

    .right-left-filters-search-wrapper{
      
      display: flex;
      justify-content: space-around;

      .leftside-filters-search{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1.5rem;
      }
  
      .rightside-filters-search{
  
        .checkbox-container{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

}

@media (min-width:1100px){

  .btn-filters{
    

    .right-left-filters-search-wrapper{

      .rightside-filters-search{
        display:flex;
        flex-wrap: wrap;

        .checkbox-container{
          height: 15%;
          justify-content: flex-start;
          width:30%;
          margin-right: 3%;
          display: flex;
          align-items: center;

          label{
            margin-right: 10%;
            white-space: nowrap;
            transform: translateY(15%);
            -webkit-transform: translateY(15%);
            -moz-transform: translateY(15%);
            -ms-transform: translateY(15%);
            -o-transform: translateY(15%);
}
        }
      }
    }
  }


}