.message-box{
  position:relative;

  .circle-notice{
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
    width:15px;
    height: 15px;
    top:5px;
    left: 10px;
    text-align: center;

    .number-notice{
      color: white;
      position: absolute;
      font-weight: bold;
      font-size: 0.7rem;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }

  }

  .dropdown-menu{

    .message-link{
      text-decoration: none;
    }

    .unread-message{
      background-color: rgba(195, 207, 230, 0.527);
    }
    
  }


}


.box-message-wrapper{
  background-color: rgb(248, 222, 222);
  height:600px;

  .message-received-list{
    height:100%;
    overflow-y: auto;
    background-color: snow;

    .message-row-title{
      height:3rem;
      
      &.unread{
        background-color: rgb(231, 144, 144);
      }
      &.selected{
        background-color: rgb(139, 138, 138);
      }

    }

    .message-row-content{
      background-color: tomato;
    }
  }
}


@media (min-width:770px){

  .box-message-wrapper{
    background-color: rgb(248, 222, 222);
    display:flex;
    .message-received-list{
      width:40%;
    }

    .message-received-box{
      width:60%;
      background-color: tomato;
      position:relative;

      .message-received-content{
        position: absolute;
        display:none;

        &.active{
          display:block;
        }

      }
    }
  }
}